<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header"/>
<main class="container">
    <div class="p-4 p-md-5 mb-4 border text-black rounded bg-white">
        <div class="d-flex flex-column justify-content-center">
            <h1 class="display-4 font-italic">Create new board</h1>
            <hr>
            <form action="/blog/it-bulletin/board/register" method="POST" id="BoardValidationForm"
                  enctype="multipart/form-data" name="BoardValidationForm">
                <div class="shadow p-3 mb-3 bg-body rounded">
                    <input type="text" class="form-control" id="boardName" name="boardName"
                           placeholder="Board Name">
                </div>
                <div class="shadow p-3 mb-3 bg-body rounded">
                    <input type="text" class="form-control" id="category" name="category"
                           placeholder="it" value="it" readonly>
                </div>
                <div class="shadow p-3 mb-3 bg-body rounded">
                    <select class="form-select" id="colorSelect" name="colorSelect">
                        <option value="bg-dark">Color</option>
                        <option class="bg-blue" value="bg-blue">Blue</option>
                        <option class="bg-indigo" value="bg-indigo">Indigo</option>
                        <option class="bg-pink" value="bg-pink">Pink</option>
                        <option class="bg-red" value="bg-red">Red</option>
                        <option class="bg-yellow" value="bg-yellow">Yellow</option>
                        <option class="bg-orange" value="bg-orange">Orange</option>
                        <option class="bg-teal" value="bg-teal">Teal</option>
                        <option class="bg-green" value="bg-green">Green</option>
                        <option class="bg-light-dark" value="bg-light-dark">Light dark</option>
                    </select>
                </div>
                <div class="shadow p-3 mb-3 bg-body rounded">
                    <label class="form-label">Logo</label>
                    <input class="form-control" type="file" id="logoFile" name="logoFile" multiple>
                </div>
                <div class="shadow p-3 mb-3 bg-body rounded">
                    <label fclass="form-label">Details</label>
                    <textarea class="form-control" id="detailsArea" name="detailsArea" rows="5"></textarea>
                </div>
                <input type="submit" class="btn btn-primary active" value="Create"/>
                <input type="button" class="btn btn-secondary" onclick="history.go(-1)" value="Cancel"/>
            </form>
        </div>
    </div>
</main><!-- /.container -->
<script src="/js/it-board-register.js"></script>
<div th:replace="layout/footer :: footer_fragment"></div>
</body>
</html>