<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header"/>
<main class="container">
    <div class="p-4 p-md-5 mb-4 border text-black rounded bg-white">
        <div class="d-flex flex-column justify-content-center">
            <h1 class="display-4 font-italic" th:text="${form.boardName} + 'に投稿する'"></h1>
            <hr>
            <form action="/blog/it-bulletin/post/register" method="post" enctype="multipart/form-data">
                <input type="hidden" id="boardName" name="boardName" th:value="${form.boardName}">
                <input type="hidden" id="currentPage" name="currentPage" th:value="${form.currentPage}">
                <input type="hidden" id="id" name="id" th:value="${form.id} != null ? ${form.id} : ''">
                <div class="shadow p-3 mb-3 bg-body rounded">
                    <input type="text" class="form-control" id="title" name="title" th:value="${form.title} != null ? ${form.title} : ''">
                </div>
                <div class="shadow p-3 mb-3 bg-body rounded">
                    <label class="form-label">本文</label>
                    <textarea class="form-control" id="content" name="content" rows="10" th:text="${form.content} != null ? ${form.content} : ''"></textarea>
                </div>
                <div>
                    <input type="submit" class="btn btn-primary active" value="Post"/>
                    <input type="button" class="btn btn-secondary" onclick="history.go(-1)" value="Cancel"/>
                </div>
                <div class="shadow p-3 mb-3 bg-body rounded">
                    <input type="file" id="uploadFile" name="uploadFile" multiple>
                </div>
            </form>
        </div>
    </div>
</main><!-- /.container -->
<script src="/js/it-post.js"></script>
<div th:replace="layout/footer :: footer_fragment"></div>
</body>
</html>