<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header"/>

<main class="container">
    <div class="p-4 p-md-5 mb-4 border text-black rounded bg-white">
        <div class="d-flex flex-column justify-content-center">
            <h1 class="display-4 font-italic" id="board_name" val="kub" th:text="${board_name}"/>
            <form th:action="'/app/v1/it/board/post/posting/' + ${board_name}"  id="hidden_form" method="POST">
                <input type="hidden" id="hidden_board_name" th:value="${board_name}" readonly="readonly">
                <input type="hidden" id="hidden_current_page" name="hidden_current_page" th:value="${current_page}" readonly="readonly">
                <th:block th:if="${current_post != null}">
                    <input type="hidden" id="hidden_id" name="boardId" value="{{id}}" readonly="readonly">
                    <article class="blog-post" id="blog-post">
                        <hr>
                        <h2 class="blog-post-title" id="post-title" name="post-title" th:text="${posts.title}"/>
                        <p class="blog-post-meta" name="createdDate" th:text="${posts.createdDate} + ' by ' + ${posts.author}"/>
                        <div id="content" name="content" th:text="${posts.content}"/>
                    </article>
                    <input type="submit" class="btn btn-primary active" value="Edit" name="submitBtn"/>
                    <a class="btn btn-danger" role="button" data-toggle="modal" data-target="#deleteModal" name="deleteBtn">Delete</a>
                </th:block>
            </form>
            <hr>
            <table class="table table-hover">
                <tr class="table-primary">
                    <th style="width: 5%">#</th>
                    <th style="width: 50%">Title</th>
                    <th style="width: 15%">Author</th>
                    <th style="width: 30%">Updated</th>
                </tr>
                <tbody id="tbody">
                </tbody>
            </table>
            <div id="pageDiv">
            </div>
            <div class="p-4">
                <a href="/app/v1/it/board/post/posting/{{board_name}}?page={{current_page}}" class="btn btn-primary active" role="button">Post</a>
            </div>
        </div>
    </div>
    <!-- dialog box -->
    <div class="modal" id="deleteModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete post</h5>
                </div>
                <div class="modal-body">
                    <p>Do you want delete post?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="modal-btn-delete" class="btn btn-primary" data-dismiss="modal">Delete post</button>
                </div>
            </div>
        </div>
    </div>
</main><!-- /.container -->

<script src="/js/board.js"></script>
<div th:replace="layout/footer :: footer_fragment"></div>
</body>
</html>