<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
  <meta property='og:type' content='website'>
  <meta property='og:title' content='Jaewoo Kim ポートフォリオ'>
  <meta property='og:url' content='URLが入る'>
  <meta property='og:description' content='Jaewoo Kimのポートフォリオサイトです。'>
  <meta property="og:image" content="img/ogp.png">
  <meta name="description" content="Jaewoo Kimのポートフォリオサイトです" />
  <title>Jaewoo Kim ポートフォリオ</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons+Outlined" rel="stylesheet">
  <link href="/css/ress.css" media="all" rel="stylesheet" type="text/css" />
  <link href="/css/style.css" media="all" rel="stylesheet" type="text/css" />
  <link rel="shortcut icon" href="img/favicon.ico" />
  <link rel=”canonical” href=”URLが入る” />
</head>

<body>
  <div class="wrapper">

    <!-- header -->
    <header class="header ">
      <div class="container">
        <h1 class="header-logo">
          <a href="/portfolio.html">Jaewoo Kim</a>
        </h1>
        <nav class="gnav">
          <ul class="gnav-list">
            <li class="gnav-item"><a href="/portfolio.html#about">ABOUT</a></li>
            <li class="gnav-item"><a href="/portfolio.html#skill">SKILL</a></li>
            <li class="gnav-item"><a href="/portfolio.html#project">PROJECT</a></li>
            <li class="gnav-item"><a href="/portfolio.html#contact">CONTACT</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- /header -->

    <main class="content">

      <article class="article">
        <div class="article-container">
          <h2 class="article-title">Jeus Portfolio</h2>
          <div class="article-body">
            <p>
              <img src="/img/blog_image.png" alt="">
            </p>
            <p>
              当ページになります。<br>
              第一の目的は自分のスキルや強みをアピールすることではありますが、<br>
              今まで勉強した内容ややってきたプロジェクトを整理する機会になりました。<br>
              <br>
              Portfolioは表示のみであるため、HTMLやJavascript、CSSだけで開発したWebパージになります。<br>
            </p>
            <h3>開発期間</h3>
            <li class="li-project-details">2022/10 - 2022/12</li>
            <h3>URL</h3>
            <p><a href="https://yahoo.co.jp" target="_blank" rel="noopener">https://yahoo.co.jp</a></p>
            <h3>目的</h3>
            <li class="li-project-details">Spring bootの学習</li>

            <h3>使用した言語 / SKILL</h3>
            <li class="li-project-details">Frontend：HTML, CSS, Javascript</li>
            <li class="li-project-details">Web server：Node.js</li>
            <h3>ターゲット</h3>
            <p>世の中に公開して共有したいです。<br>
              今はBlogだけですが、今後様々なサービスを開発して展開して行きたいと思います。
            </p>
            
            <h3>デザインについて</h3>
            <p>
              Bootstrapのblog templateを基にデザインしました。
              
            </p>
          </div>
          <div class="home-link">
            <a href="../portfolio.html#project-blog">Project blogへ</a>
          </div>
        </div>
      </article>

      <div class="page-top" id="js-page-top">
        <span class="material-icons-outlined">expand_less</span>
      </div>
    </main>

    <!-- footer -->
    <footer class="footer">
      <div class="copyright">&copy;Jaewoo Kim</div>
    </footer>
    <!-- /footer -->

  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type='text/javascript' src="/js/script.js"></script>
</body>

</html>